@media (min-width: 320px) and (max-width: 767px) {

  .brand-wrapper {
    display: none;
  }

  .toolge-button--hidden {
    display: none;
  }
  
  .title {
    margin-bottom: 16px;
  }

  .swiper {
    max-width: 375px;
    height: 110px;
    margin: 0 auto;
  }

  .swiper--hidden {
    display: block;
  }
  
  .swiper-slide {
    font-size: 18px;
    display: flex;
    padding: 0 75px 0 32px;
    align-items: flex-start;
    box-sizing: border-box;
  }

  .swiper-slide-active {
    position: relative;
    z-index: 10;
    box-shadow: inset -35px -5px 14px -23px #F8F8F8;
  }

  .my-swiper__slide-wripper {
    width: 240px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #EAEAEA;
    border-radius: 7px;
  }

  .my-swiper__slide-wripper:hover {
    border-color: #3fb2ff;
  }

  .swiper-slide-next {
    translate: -80px 0;
  }
  
  .swiper-slide img {
    display: block;
  }
  
  .my-swiper__pagination {
    display: flex;
    gap: 6px;
    justify-content: center;
    translate: (0 20px);
  }
  
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #DDDDDD;
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #B5B6BC;
  }

  .button::after {
    transform:translate(12px, 15px) rotate(45deg);
  }
}


