@font-face {
  font-family: 'TT Lakes';
  src: url(../fonts/TTLakes-Bold.eot);
  src: url(../fonts/TTLakes-Bold.eot#iefix) format('embedded-opentype'),
  url(../fonts/TTLakes-Bold.woff) format('woff'),
  url(../fonts/TTLakes-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url(../fonts/TTLakes-Medium.eot);
  src: url(../fonts/TTLakes-Medium.eot#iefix) format('embedded-opentype'),
  url(../fonts/TTLakes-Medium.woff) format('woff'),
  url(../fonts/TTLakes-Medium.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'TT Lakes', 'Times New Roman', sans-serif;
  font-weight: normal;
  padding-top: 16px;
  background-color: #fff;
  height: 100%;
}

.title {
  padding: 0 16px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 54px;
  text-transform: uppercase;
  color: #7E7E82;
}

.brand-wrapper {
  overflow: hidden;
}

.brand-wrapper--folded {
  height: 150px;
}


.button::after {
  transform:translate(12px, 0) rotate(45deg);
}

.button {
  width: 40px;
  height: 40px;
  border: 2px solid red;
  border-radius: 50%;
  cursor: pointer;
  
}

.button:hover,
.toolge-button:hover {
  opacity: 0.5;
  transition: 300ms;
}

.button::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-top: 2px solid red;
  border-right: 2px solid red;
}

.brand-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 35px 24px;
  padding: 0 24px;
  margin-bottom: 40px;
}

.brand-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 35px;
  width: 224px;
}

.toolge-button {
  margin:0 0 16px 10px;
  padding-left: 30px;

  position: relative;

  font-family: inherit;
  font-size: 16px;
  border: none;
  background-color: #fff;

  cursor: pointer;
}

.toolge-button::before {
  content: url(../svg/icon-arrows.svg);
  position: absolute;
  top: 2px;
  left: 10px;
  transform: rotate(180deg);
}

.folded.toolge-button::before {
  transform: rotate(0);
}